<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Grocery_Management_Shop.Properties.Settings.Grocery_Management_ShopConnectionString"
            connectionString="Data Source=ADITYA-123\SQLSERVER;Initial Catalog=Grocery_Management_Shop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Grocery_Management_Shop.Properties.Settings.StudentDetailsConnectionString"
            connectionString="Data Source=ADITYA-123\SQLSERVER;Initial Catalog=Grocery_Management_Shop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>